@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600&display=swap');

h1 {
  font-family: 'Open Sans', sans-serif; font-weight: 800; font-size: 40px; font-display: swap; font-style: bold;
}
body {
  text-align: center; text-indent: 0em; margin: 0; padding: 0; position: static; top: -50; font-family: 'Open Sans', sans-serif;
}
h2 {
  font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 30px; 
}
h4 {
  font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 20px; font-style: italic; color: darkslategrey;
}
h6 {
  margin-right: 25px;
}
div {
  font-family: 'spectral';
}

html {
  margin: 0; padding: 0; background: rgb(6, 86, 161);
}